body {
  background-image: linear-gradient(rgba(2, 31, 49, 0.8), rgba(228, 193, 199, 0.8)), url("../images/despicable-me-street-house-32217-hd-wallpapers.jpg");
  width: 100%;
}

button {
  display: block;
  background-color: rgb(2, 31,49);
  color: white;
  margin-right: 0;
  margin-top: 10%;
}

.buttons {
  border: none;
  margin-left: 2.65%;
}

div, aside {
  border: 2px solid #000000;
  width: 8%;
  height: 65px;
  display: inline-block;
  position: relative;
}

.player1, .player2, .player3 {
  float: left;
  padding-top: 15%;
  padding-left: 4%;
}

.left-div {
  margin-left: 10.95%;
}

.right-div {
  margin-right: 6%;
}

.top-div {
  margin-top: 50px;
}

.bottom-div {
  margin-bottom: 55px;
}

.sisters img {
  padding-top: 5px;
}

.sisters {
  width: 10%;
  height: 65px;
  float: right;
  margin-right: 1%;
  border: none;
}
